root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
insert_final_newline = true
max_line_length = off
tab_width = 4
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_comment-spacing = disabled
ktlint_standard_max-line-length = disabled

[*.{kt,kts}]
ktlint_standard_filename = disabled
ij_kotlin_imports_layout = *
ktlint_standard_import-ordering = disabled
ktlint_no-wildcard-imports = disabled
ktlint_standard_no-wildcard-imports = disabled

[*.{yaml,yml}]
indent_style = tab
indent_size = 2
tab_width = 2
max_line_length = off