<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="Cloud" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<fieldNames>
				<timestamp>[ignore]</timestamp>
				<version>[ignore]</version>
				<logger>[ignore]</logger>
				<thread>[ignore]</thread>
				<level>[ignore]</level>
				<levelValue>[ignore]</levelValue>
			</fieldNames>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="Cloud" />
	</root>
</configuration>
