apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: docker-repo.minq.work/myapp:latest  # ✅ 실제 도메인 기반 registry 주소로 변경
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: project-credentials
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "local"
