apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
      annotations:
        git-revision-hash: "{{GIT_COMMIT_SHA}}"
    spec:
      containers:
        - name: myapp
          image: docker-repo.minq.work/myapp
          imagePullPolicy: Always                   # ✅ 중요!
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: project-credentials
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "local"
