apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
images:
  - name: docker-repo.minq.work/myapp
    newTag: 42-c041b8a2f3ec8df9c06fc55d20257800800b1fc7
