apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
images:
  - name: docker-repo.minq.work/myapp
    newName: docker-repo.minq.work/myapp
    digest: sha256:0c1a31257bd8a1cb02eca39c4beee9c928a1744f93c2557539c459ab111bbc62
