apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
images:
  - name: docker-repo.minq.work/myapp
    newTag: 39-1881229630af03967c170831a1d391e5a35c2b62
