apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
images:
  - name: docker-repo.minq.work/myapp
    newName: docker-repo.minq.work/myapp
    newTag: 82-bae91e9cc69092da3670f925d9fe6b988286029e
