MYSQL_PASSWORD=MYSQL_PASSWORD
MYSQL_PASSWORD_DEV=MYSQL_PASSWORD_DEV
FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=FIREBASE_PROJECT_ID
FIREBASE_PRIVATE_KEY_ID=FIREBASE_PRIVATE_KEY_ID
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY----- FIREBASE_PRIVATE_KEY -----END PRIVATE KEY-----\n
FIREBASE_CLIENT_EMAIL=FIREBASE_CLIENT_EMAIL
FIREBASE_CLIENT_ID=FIREBASE_CLIENT_ID
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-rwxi7%40projf-8068b.iam.gserviceaccount.com
LOGGING_SLACK_WEBHOOK_URL=LOGGING_SLACK_WEBHOOK_URL
AES_KEY=AES_KEY