name: CI CD Test Server

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    env:
      IMAGE_TAG: ${{ github.sha }}
      DATE_TAG: ${{ github.run_number }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant permission
        run: chmod +x ./gradlew

      - name: Build and Push Image
        env:
          REGISTRY_USER: ${{ secrets.REGISTRY_USER }}
          REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
        run: |
          ./gradlew jib \
            -Djib.to.image=docker-repo.minq.work/myapp \
            -Djib.to.auth.username=${REGISTRY_USER} \
            -Djib.to.auth.password=${REGISTRY_PASSWORD} \
            -Djib.to.tags=latest,${{ github.run_number }}-${{ github.sha }}
